.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100vh;
  block-size: 100dvh;
  background-image: url('/images/pages/page_3/background_3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

@media (min-width: 768px) {
  .page {
    background-image: url('/images/pages/page_3/background_3_tablet.png');
  }
}

@media (min-width: 1024px) {
  .page {
    background-image: url('/images/pages/page_3/background_3_desktop.png');
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  min-block-size: 0;
  padding: 48px 52px 0 20px;
  gap: 16px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.merchColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.merch {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: stretch;
}

.joinSlot {
  display: block;
}

@media (min-width: 768px) {
  .merchColumn {
    align-self: center;
    inline-size: 100%;
    align-items: center;
  }

  .merch {
    justify-content: center;
  }

  .joinSlot {
    display: flex;
    justify-content: center;
    inline-size: 100%;
  }
}

[data-page='third'] .word:nth-child(1) {
  display: block;
}
[data-page='third'] .word:nth-child(2),
[data-page='third'] .word:nth-child(3) {
  display: inline;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
