.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100vh;
  block-size: 100dvh;
  background-image: url('/images/pages/page_3/background_3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

@media (min-width: 768px) {
  .page {
    background-image: url('/images/pages/page_3/background_3_tablet.png');
  }
}

@media (min-width: 1024px) {
  .page {
    background-image: url('/images/pages/page_3/background_3_desktop.png');
  }
}

.content {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  padding: 48px 52px 48px 20px;
  gap: 16px;
}

.merch {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: stretch;
  padding-block-start: 16px;
}

[data-page='third'] .word:nth-child(1) {
  display: block;
}
[data-page='third'] .word:nth-child(2),
[data-page='third'] .word:nth-child(3) {
  display: inline;
}
