.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100vh;
  block-size: 100dvh;
  background-image: url('/images/background_3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 48px;
  gap: 16px;
  flex-grow: 1;
}

.merch {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: stretch;
  padding-block-start: 16px;
}

@media (max-width: 425px) {
  .merch {
    inline-size: calc(100vw - 72px);
  }
}

[data-page="third"] .word:nth-child(1) {
  display: block;
}
[data-page="third"] .word:nth-child(2),
[data-page="third"] .word:nth-child(3) {
  display: inline;
}