.footer {
  padding: 30px 20px;
  color: #f2ece6;
  background-color: #0b0c0f;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__text {
  font-weight: 700;
  font-size: clamp(13px, 1.4vw, 16px);
  line-height: 1.5;
}

.footer__icons {
  display: flex;
  gap: 4px;
}
