.footer {
  padding: 30px 20px;
  color: #f2ece6;
  background-color: #0b0c0f;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__text {
  font-weight: 700;
  font-size: clamp(0.75rem, 0.6562rem + 0.382vw, 1rem);
}

.footer__icons {
  display: flex;
  gap: 4px;
}
