* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0c0f;
}

#root {
  max-inline-size: 393px;
  block-size: 100vh;
  block-size: 100dvh;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0;
}
