@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0b0c0f;
}

#root {
  margin: 0 auto;
  padding: 0;
  /* max-inline-size: 393px; */
  block-size: 100vh;
  block-size: 100dvh;
}

::-webkit-scrollbar {
  width: 0;
}
